@use "vars" as *;

#footer{
	border-top: 1px solid rgba(235, 235, 235, 1) ;
	background: white;
	padding: 50px 0 0;
	.inner{
		@include flex(between,0,wrap);
	}
	.footer-left{
		width: 350px;
		@include mq(){
			width: 100%;
			order: 2;
			text-align: center;
		}
	}
	.footer-right{
		width: calc(100% - 350px);
		margin-bottom: 40px;
		@include mq(){
			width: 100%;
			order: 1;
		}
	}
	.footer-logo{
		display: block;
		width: 200px;
		margin-bottom: 30px;
		@include mq(){
			width: 160px;
			margin: 0 auto 20px;
		}
	}
	.footer-note{
		display: inline-block;
		color: $dark;
		@include font-size(14);
		position: relative;
		padding: 0 18px 0 0;
		@include mq(){
			@include font-size(12);
			letter-spacing: 0.5px;
			margin-bottom: 30px;
		}
		&:after{
			content: "";
			width: 12px;
			height: 13px;
			background: url("../img/common/link.png")no-repeat;
			background-size: 100%;
			position: absolute;
			right: 0;
			top: 3px;
		}
	}
	.footer-menu{
		@include flex(end,0,wrap);
		@include mq(){
			display: block;
		}
		li{
			padding: 0 10px;
			@include mq(){
				padding: 0;
				margin-bottom: 13px;
			}
			&:last-child{
				padding-right: 0;
				margin-bottom: 0;
			}
			a{
				display: block;

			}
		}
		&--en{
			margin-bottom: 40px;
			li{
				a{
					@include font-size(16);
					font-weight: 500;
					color: $dark;
					position: relative;
					@include mq(){
						@include font-size(18);
						&:after{
							content: "";
							border: solid $dark;
							border-width: 0 1px 1px 0;
							display: inline-block;
							padding: 3px;
							transform: rotate(-45deg);
							position: absolute;
							right: 4px;
							top: 10px;
						}
					}
				}
			}
		}
		&--jp{
			li{
				a{
					color: rgba(140, 140, 140, 1);
					@include font-size(12);
				}
			}
		}
	}
	.footer-sns{
		@include flex(center,center,wrap);
		@include mq(){
			margin-bottom: 30px;
		}

	}
	.footer-bottom{
		background: $dark;
		color: white;
		font-family: $font-Roboto;
		padding: 12px 0;
		a{
			color: white;
		}
		.copyright{
			@include mq(){
				width: 100%;
				text-align: center;
			}
		}
	}
}