@use "vars" as *;

.src-rental{
	padding: 57px 0 146px;
	@include mq(){
		padding: 50px 0 80px;
	}
}
.rental-items{
	@include flex(0,0,wrap);
	&__ct{
		width: 54.5%;
		padding: 0 6% 0 0;
		@include mq(){
			width: 100%;
			padding: 0;
			margin-bottom: 30px;
		}
		.c-ttl__01{
			color: $dark;
			line-height: 0.9;
			margin-bottom: 53px;
			transition: all 0.7s ease-out;
			opacity: 0;
			visibility: hidden;
			transform: translate(-70px, 0);
			@include mq(){
				margin-bottom: 20px;
			}
		}
		&-ttl{
			display: block;
			@include font-size(24);
			font-weight: bold;
			margin-bottom: 10px;
		}
		p{
			margin-bottom: 40px;
			@include mq(){
				margin-bottom: 20px;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		.ion-link{
			&:after{
				width: 15px;
				height: 16px;
			}
		}
	}
	&__img{
		width: 45.5%;
		padding: 47px 0 0;
		@include mq(){
			width: 100%;
			padding: 0 0 0 15px;
		}
		&--pullright{
			margin-right: calc((100vw - 219%) / 2* -1);
			@include mq(){
				margin-right: -15px;
			}
		}
		img{
			width: 100%;
		}
	}
}
.is-hello{
	.rental-items__ct .c-ttl__01{
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}
}